[submodule "Pcb/esp_radio/kicad_common_lib"]
	path = Pcb/esp_radio/kicad_common_lib
	url = git@bitbucket.org:dibalavs/kicad_common_lib.git
[submodule "Firmware/esp-idf"]
	path = Firmware/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v5.1
